.App {
  background-color: rgb(219, 173, 58);
  background: linear-gradient(
    90deg,
    rgba(219, 173, 58, 1) 11%,
    rgba(219, 173, 58, 1) 20%,
    rgba(231, 187, 82, 1) 31%,
    rgba(196, 156, 25, 1) 85%
  );
}

.alert {
  background-color: #eb4d4b !important;
  position: fixed !important;
  top: 0 !important;
  left: 50% !important ;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  z-index: 9999 !important;
  color: #fff !important;
  font-size: 3.8 rem !important;
  font-weight: 700 !important;
  text-align: center !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  padding: 1.2rem 15rem !important;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25) !important;
}
