.total {
  border-radius: 5px;
  border: none;
  height: 90px;
  width: 250px;
  color: white;

  margin-left: 1170px;
  margin-top: 20px;
  margin-bottom: 10px;

  padding: 5px 20px;

  background-color: #30302e;
  font-size: large;
}
